$dark = #000
$neutral = #4d4d4d
$light = #fff
$light-secondary = #f4f4f4

$font-family = 'Source Sans Pro', Arial, sans-serif
$text-size = 14px
$text-size = 14px
$title-size = 17px
$line-height = 17px

$container = 1000px
$margin = 10px
$padding = 10px